
body, html {
    height: 100%;
  }
  
  body {
    background: #f1f3f6;
    color: #4c4d4d;
    font-family: "Poppins", sans-serif;
  }

input{
  border-bottom: solid 2px #00000057 !important;
}

  /*-------- Preloader --------*/
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  form {
    padding: 0;
    margin: 0;
    display: inline;
  }
  
  img {
    vertical-align: inherit;
  }
  
  a, a:focus {
    color: #007bff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  a:hover, a:active {
    color: #006adb;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  a:focus, a:active,
  .btn:active:focus,
  .btn:focus,
  button:focus,
  button:active {
    outline: none;
  }
  
  p {
    line-height: 1.8;
  }
  
  h1, h3 {
    color: #252b33;
    font-family: "Poppins", sans-serif;
  }
  
 